@use '@angular/material' as mat;

// Define both light and dark themes.
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
  density: (scale: -1),
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
  density: (scale: -1),
));

html {
  @include mat.all-component-themes($light-theme);
  height: 100%;
}

html.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}